{% extends 'base.html' %}

{% block title %}תקנון{% endblock %}

{% block content %}
<h1>תקנון</h1>
<p>הקדמה
    בגישה ובשימוש באתר זה, אתה מסכים לתנאים וההתניות הבאים. אם אינך מסכים לתנאים אלו, אנא הימנע משימוש בשירותים שלנו.
    
    1. דיוק המידע
    אנו שואפים לספק מידע מדויק ומעודכן בנוגע למחירים ושירותים. עם זאת, אין אנו יכולים להבטיח את שלמות, דיוק או עדכניות הנתונים. כל התוכן מסופק "כפי שהוא." המשתמשים מודעים לכך שייתכנו טעויות, מידע מיושן או השמטות. מומלץ להיוועץ במומחים לפני קבלת החלטות על סמך המידע המסופק.
    
    2. הגבלת אחריות
    אנו לא אחראים לכל נזק, אובדן או תביעה משפטית הנובעת משימושך באתר זה, כולל אך לא מוגבל לנתונים לא נכונים או לא שלמים. השימוש באתר הוא באחריותך בלבד. לא נהיה אחראים לכל נזק עקיף, אקראי, מיוחד או תוצאתי, כולל אובדן רווחים, הנובע משימוש או חוסר יכולת להשתמש באתר.
    
    3. תוכן של צדדים שלישיים
    האתר שלנו עשוי להכיל קישורים לאתרים או שירותים של צדדים שלישיים. אנו לא שולטים או מאשרים את תוכן האתרים החיצוניים הללו, ואנחנו לא אחראים לזמינותם או דיוקם. כל אינטראקציה עם שירותים של צדדים שלישיים היא באחריותך בלבד.
    
    4. פיצוי
    אתה מסכים לשפות ולפצות את החברה שלנו, עובדיה ומנהליה מכל תביעה, אובדן או נזק, כולל הוצאות משפטיות, הנובעות משימושך באתר זה או מהפרת תנאים אלו.
    
    5. כוח עליון
    אנו לא נהיה אחראים לכל כישלון או עיכוב בביצוע עקב סיבות שלא בשליטתנו, כמו בעיות טכניות, הפרעות חיצוניות או אירועים של כוח עליון.
    
    6. שינויים
    אנו שומרים לעצמנו את הזכות לעדכן או לשנות את תנאי השימוש בכל עת. כל שינוי יתפרסם בדף זה, ושימושך המתמשך באתר לאחר שינוי כזה ייחשב להסכמה שלך לתנאים החדשים.
    
    7. דין חל
    תנאים וההתניות הללו כפופים לחוקי [המדינה], וכל מחלוקות יפתרו בתחום השיפוט המתאים.
    
    8. הגבלת אחריות מיוחדת
    לא נהיה אחראים לכל נזק הנגרם כתוצאה משימוש במידע המוצג באתר, כולל מידע שגוי או לא מעודכן. המשתמשים מבינים ומסכימים כי עליהם לבדוק את המידע עם יועצים מוסמכים אם יש ספקות.
    
    9. אובדן נתונים
    האתר לא אחראי לאובדן נתונים או מידע שנעשה בהם שימוש בשירותים, ולא תהיה לך זכות לתבוע על כך.
    
    10. שימוש במידע
    השימוש במידע באתר הינו באחריותך בלבד, ואנו לא נישא באחריות לשימוש לא תקין או לנזקים הנגרמים כתוצאה משימוש לא נכון.
    
    11. זכויות יוצרים
    הכללת תוכן באתר הינה בבעלותנו או בבעלות צדדים שלישיים שמסרו לנו את הזכויות. כל העתקה, הפצה או שימוש חוזר בתוכן ללא אישור מראש ייחשב להפרת זכויות יוצרים.
    
    12. תנאים נוספים
    ייתכנו תנאים נוספים הנוגעים לשירותים מסוימים, והם יתפרסמו בנפרד. תנאים אלו יהיו חלק בלתי נפרד מתנאים וההתניות הכלליים של האתר.
    
    13. הדין החל
    החוק של [המדינה] יוסדר לפי הדין המקומי של [המדינה], והסמכות השיפוטית תינתן אך ורק לבית המשפט המקומי.</p>
<a href="{{ url_for('index') }}">חזרה לעמוד הראשי</a>
{% endblock %}
